.card-container {
    width: 0px;
  
    border: 0px solid #000000;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
  
.card-title {
    display: inline;
}
.card-domain {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 3px;
    font-family: monospace;
}
.card-container:hover {
    background-color: yellow;
}